@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <main class="w-100">
        <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
            <NavLink class="navbar-brand" href="/">Faunex</NavLink>

            <div class="navbar-nav">
                <NavLink class="nav-link" href="/browse">Browse Listings</NavLink>
            </div>

            <div class="navbar-nav ms-auto">
                <AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="/login">Login</NavLink>
                        <NavLink class="nav-link" href="/register">Register</NavLink>
                    </NotAuthorized>
                    <Authorized>
                        <NavLink class="nav-link" href="/account">My Account</NavLink>
                        <NavLink class="nav-link" href="/logout">Logout</NavLink>
                    </Authorized>
                </AuthorizeView>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <NavLink href="." class="reload">Reload</NavLink>
    <span class="dismiss">🗙</span>
</div>
